/**
 * Add display CSS for tab panels so they are all shown below each other if
 * JavaScript is not enabled.
 */

.tab-panel {
    display: block;
    margin-bottom: 20px;
    .tab-title {
        padding-top: 30px;
    }
}

body.js .tab-panel {
    display: none;
    &.is-active {
        display: block;
    }

    .tab-title {
        display: none;
    }
}
