@import "./bulma";
@import "highlight.js/styles/github.css";
@import "./util.scss";
@import "./PlayerBadge.scss";
@import "./PlayerResearches.scss";
@import "./RecordedGameCard.scss";
@import "./SocialAuthButton.scss";

.hljs {
    @extend code;
    font-size: inherit;
}

#s-menu-open:checked + .navbar .navbar-menu {
    @extend .navbar-menu.is-active;
}

.nojs {
    .nojs-hidden {
        display: none;
    }
}

.is-embed {
    > .section {
        padding: 0;
    }
}
