@import "bulma";
@import "./navs.scss";
@import "./tabs.scss";

#s-menu-open:checked + .nav .nav-menu {
    @extend .nav-menu.is-active;
}

.nojs {
    .nojs-hidden {
        display: none;
    }
}

.is-primary-text { color: $primary; }
.is-info-text { color: $info; }
.is-success-text { color: $success; }
.is-warning-text { color: $warning; }
.is-danger-text { color: $danger; }

$player-colors:
    $blue,
    $red - #002,
    $green,
    $yellow,
    $turquoise,
    #ff00cc,
    $orange + #030,
    $grey;

@for $i from 1 through length($player-colors) {
    .is-player-#{$i - 1} {
        color: nth($player-colors, $i) - #333333;
    }
}
