$nav-background: $red;
$nav-text: $white;

.nav {
    background: $nav-background;

    &-toggle:hover {
        background: $nav-background;
    }

    .nav-menu {
        background: $nav-background;
        a.nav-item {
            &:hover {
                background: $nav-background - #111;
            }
        }
        .nav-item {
            border-top-color: $nav-background + #222;
        }
    }

    .nav-item {
        color: $nav-text;
        &:hover {
            color: $nav-text;
        }
    }
}
