.card-hover-data {
    background: rgba(255, 255, 255, 0.75);
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    padding: 10px 20px;

    .card & {
        display: none;
    }
    .card:hover & {
        display: block;
    }
}

.tag.player-badge {
    overflow: hidden;
    padding-left: 0;

    & .civ-icon {
        height: 100%;
        margin-right: 5px;
    }

    &:hover {
        color: $white;
        background-image: linear-gradient(0deg, fade-out($black, 0.9), fade-out($black, 0.9))
    }
}
