.PlayerBadge {
    @extend .tag:not(body);
    overflow: hidden;
    padding-left: 0;

    &-civIcon {
        height: 100%;
        margin-right: 5px;
    }

    &:hover {
        color: $white;
        background-image: linear-gradient(0deg, fade-out($black, 0.9), fade-out($black, 0.9))
    }
}
