/**
 * Text colour helpers.
 */
@each $name, $pair in $colors {
    .is-#{$name}-text {
        color: nth($pair, 1);
    }
}

/**
 * Player colour helpers.
 */

$player-colors:
    $blue,
    $red - #002,
    $green,
    $yellow,
    $turquoise,
    #ff00cc,
    $orange + #030,
    $grey;

@for $i from 1 through length($player-colors) {
    .is-player-#{$i - 1} {
        color: nth($player-colors, $i) - #333333;
    }
    .is-player-#{$i - 1}-bg {
        $color: nth($player-colors, $i) - #333333;
        background-color: $color;
        color: findColorInvert($color);
    }
}
